body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 8px 32px 8px;

}

.left-column, .right-column {
  width: 50%;
  padding: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  margin-top: 8px;
  background-color: #ffffff; /* Different background color for the right column */
}

.user-input-container {
  padding: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  flex-grow: 1;
  resize: none;
}

.folder-picker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.folder-picker-container label {
  font-size: 16px;
  margin-bottom: 10px;
}

.folder-picker-container input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  padding: 16px 0px;
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

.output-panel {
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}